<a href="https://colab.research.google.com/github/MarcelaMonteiroMontenegroGallo/Python/blob/master/Dados_de_Credito.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
from google.colab import files
uploaded = files.upload()

Saving credit-data.csv to credit-data.csv

In [0]:

pd.options.display.max_rows = None
pd.options.display.max_columns = None

In [40]:
import pandas as pd 
from sklearn.preprocessing import Imputer

SyntaxError: ignored

PRÉ PROCESSAMENTO

In [0]:
base = pd.read_csv('credit-data.csv')

In [13]:
base.describe()

          clientid        income          age          loan      default
count  2000.000000   2000.000000  1997.000000   2000.000000  2000.000000
mean   1000.500000  45331.600018    40.807559   4444.369695     0.141500
std     577.494589  14326.327119    13.624469   3045.410024     0.348624
min       1.000000  20014.489470   -52.423280      1.377630     0.000000
25%     500.750000  32796.459717    28.990415   1939.708847     0.000000
50%    1000.500000  45789.117313    41.317159   3974.719419     0.000000
75%    1500.250000  57791.281668    52.587040   6432.410625     0.000000
max    2000.000000  69995.685578    63.971796  13766.051239     1.000000

Pela análise das estatisticas verificamos que na coluna age há valores negativos 
- Vamos utilizar a média para preencher esses valores

In [14]:
base.loc[base.age < 0 , 'age']

15   -28.218361
21   -52.423280
26   -36.496976
Name: age, dtype: float64

In [15]:
base['age'][base.age >0].mean()

40.92770044906149

In [0]:
base.loc[base.age < 0 , 'age'] = 40.92

In [17]:
base.loc[base.age < 0 , 'age']

Series([], Name: age, dtype: float64)

Agora vamos verificar se há dados faltantes

In [19]:
pd.isnull(base).shape

(2000, 5)

In [0]:
pd.isnull(base['age'])

In [25]:
base.loc[pd.isnull(base['age'])]

    clientid        income  age         loan  default
28        29  59417.805406  NaN  2082.625938        0
30        31  48528.852796  NaN  6155.784670        0
31        32  23526.302555  NaN  2862.010139        0

In [34]:
previsores= base.iloc[:, 1:4].values
previsores

array([[6.61559251e+04, 5.90170151e+01, 8.10653213e+03],
       [3.44151540e+04, 4.81171531e+01, 6.56474502e+03],
       [5.73171701e+04, 6.31080495e+01, 8.02095330e+03],
       ...,
       [4.43114493e+04, 2.80171669e+01, 5.52278669e+03],
       [4.37560566e+04, 6.39717958e+01, 1.62272260e+03],
       [6.94365796e+04, 5.61526170e+01, 7.37883360e+03]])

In [35]:
target = base.iloc[:,4].values
target

array([0, 0, 0, ..., 1, 0, 0])

Biblioteca de preprocessamento te a opção de preecher os valores faltantes com paramentro estrategia as opções de preechimento são com a média, mediana ou valor mais  frequente

In [0]:
imputer = Imputer(missing_values ='NaN', strategy='mean', axis=0)

In [0]:
imputer = imputer.fit(previsores[:, 0:3])

In [0]:
previsores[:,0:3] = imputer.transform(previsores[:, 0:3])

Agora vamos verificar deixar na mesma escala