<a href="https://colab.research.google.com/github/MarcelaMonteiroMontenegroGallo/Python/blob/master/Introdu%C3%A7%C3%A3o_ao_Spark_SQL_com_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Load a dataframe From File

In [0]:

!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q http://www-eu.apache.org/dist/spark/spark-2.4.3/spark-2.4.3-bin-hadoop2.7.tgz
!tar xf spark-2.4.3-bin-hadoop2.7.tgz
!pip install -q findspark
!pip install -q pyspark

In [0]:
import io

In [0]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-2.4.3-bin-hadoop2.7"

In [0]:
import findspark
findspark.init()
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()

In [114]:
from google.colab import files
uploaded = files.upload()

Saving train.csv to train.csv

**Criando e consultando uma tabela SQL no Spark**

In [0]:

schedule= spark.read.csv("train.csv", header = True)

In [127]:
schedule.show()

+--------+-------------+-----+
|train_id|    station_R| time|
+--------+-------------+-----+
|     324|San Francisco|7:59a|
|     324|  22nd Street|8:03a|
|     324|     Millbrae|8:16a|
|     324|    Hillsdale|8:24a|
|     324| Redwood City|8:31a|
|     324|    Palo Alto|8:37a|
|     324|     San Jose|9:05a|
|     217|       Gilroy|6:06a|
|     217|   San Martin|6:15a|
|     217|  Morgan Hill|6:21a|
|     217| Blossom Hill|6:36a|
|     217|      Capitol|6:42a|
|     217|       Tamien|6:50a|
|     217|     San Jose|6:59a|
+--------+-------------+-----+

 **Create SQL table and query it**

In [133]:
schedule.createOrReplaceTempView("schedule")
spark.sql("SELECT * FROM schedule where train_id ='217'").show()

+--------+------------+-----+
|train_id|   station_R| time|
+--------+------------+-----+
|     217|      Gilroy|6:06a|
|     217|  San Martin|6:15a|
|     217| Morgan Hill|6:21a|
|     217|Blossom Hill|6:36a|
|     217|     Capitol|6:42a|
|     217|      Tamien|6:50a|
|     217|    San Jose|6:59a|
+--------+------------+-----+

 **Inspecting table schemat**

In [0]:
result =spark.sql("Show Columns from Tablename")
result.show()

**Over clause and Order By Clause**

In [41]:
query = """
SELECT train_id, station, time, diff_min,
SUM(diff_min) OVER (PARTITION BY train_id ORDER BY time) AS running_total
FROM schedule
"""
spark.sql(query).show()

AnalysisException: ignored

 **Two ways to rename a column**

In [27]:
df.select('train_id','station')
.withColumnRenamed('train_id','station')
.show(5)

SyntaxError: ignored