<a href="https://colab.research.google.com/github/MarcelaMonteiroMontenegroGallo/Python/blob/master/Introdu%C3%A7%C3%A3o_ao_Spark_SQL_com_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Load a dataframe From File

**Criando e consultando uma tabela SQL no Spark**

In [0]:
df= spark.read.csv(filename , head = True)

 **Create SQL table and query it**

In [0]:
df.createOrReplaceTempView("schedule")
spark.sql("Select * FROM schedule where station = 'San Jose'").show

 **Inspecting table schemat**

In [0]:
result =spark.sql("Show Columns from Tablename")
result.show()

**Over clause and Order By Clause**

In [0]:
query = """
SELECT train_id, station, time, diff_min,
SUM(diff_min) OVER (PARTITION BY train_id ORDER BY time) AS running_total
FROM schedule
"""
spark.sql(query).show()

 **Two ways to rename a column**

In [0]:
df.select('train_id','station')
.withColumnRenamed('train_id','station')
.show(5)