<a href="https://colab.research.google.com/github/MarcelaMonteiroMontenegroGallo/Python/blob/master/pandas_Foundations.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import io

In [19]:

from google.colab import files
uploaded = files.upload()

Saving ISSN_D_tot.csv to ISSN_D_tot.csv

**Data ingestion & inspection**

O NumPy é uma poderosa biblioteca Python que é usada principalmente para realizar cálculos em Arrays Multidimensionais.

In [0]:
import pandas as pd 

import numpy as np

In [0]:
# Import numpy
import numpy as np

# Create array of DataFrame values: np_vals
np_vals =df.values

# Create new array of base 10 logarithm values: np_vals_log10
np_vals_log10 =np.log10(np_vals)

# Create array of new DataFrame by passing df to np.log10(): df_log10
df_log10 =  np.log10(df)

# Print original and new data containers
[print(x, 'has type', type(eval(x))) for x in ['np_vals', 'np_vals_log10', 'df', 'df_log10']]

In [0]:
df.info()

In [9]:
heights= [50.9 , 65.2, 62.9, 65.4 , 62.7, 64.1]
data ={'height': heights, 'sex' :'M'}
results = pd.DataFrame(data)
print(results)

   height sex
0    50.9   M
1    65.2   M
2    62.9   M
3    65.4   M
4    62.7   M
5    64.1   M

In [12]:
cities =['Austin', 'Dallas', 'Autin', 'Dallas']
signups =[7,12,3,5]
visitors = [139, 237,326, 456]
weekdays =['Sun' , 'Sun', 'Mon','Mon']
list_labels =['city', 'signups', 'visitors' , 'weekday' ]
list_cols=[cities , signups, visitors, weekdays]
zipped = list(zip(list_labels , list_cols))
print(zipped)

[('city', ['Austin', 'Dallas', 'Autin', 'Dallas']), ('signups', [7, 12, 3, 5]), ('visitors', [139, 237, 326, 456]), ('weekday', ['Sun', 'Sun', 'Mon', 'Mon'])]

In [14]:
data = dict(zipped)
users = pd.DataFrame(data)
print(users)

     city  signups  visitors weekday
0  Austin        7       139     Sun
1  Dallas       12       237     Sun
2   Autin        3       326     Mon
3  Dallas        5       456     Mon

In [15]:
users['fees'] =0
print(users)

     city  signups  visitors weekday  fees
0  Austin        7       139     Sun     0
1  Dallas       12       237     Sun     0
2   Autin        3       326     Mon     0
3  Dallas        5       456     Mon     0

In [16]:
users['id'] = 'NH' 
print(users)

     city  signups  visitors weekday  fees  id
0  Austin        7       139     Sun     0  NH
1  Dallas       12       237     Sun     0  NH
2   Autin        3       326     Mon     0  NH
3  Dallas        5       456     Mon     0  NH

In [18]:
results.columns =['height(in)', 'sex']
results.index = ['A', 'B', 'C' , 'D' , 'E', 'F' ]
print(results)

   height(in) sex
A        50.9   M
B        65.2   M
C        62.9   M
D        65.4   M
E        62.7   M
F        64.1   M

In [23]:
filepath ='ISSN_D_tot.csv'
sunspots = pd.read_csv(filepath , header = None)
sunspots.info

<bound method DataFrame.info of           0  1   2         3    4  5
0      1818  1   1  1818.004   -1  1
1      1818  1   2  1818.007   -1  1
2      1818  1   3  1818.010   -1  1
3      1818  1   4  1818.012   -1  1
4      1818  1   5  1818.015   -1  1
5      1818  1   6  1818.018   -1  1
6      1818  1   7  1818.021   -1  1
7      1818  1   8  1818.023   39  1
8      1818  1   9  1818.026   -1  1
9      1818  1  10  1818.029   -1  1
10     1818  1  11  1818.031   -1  1
11     1818  1  12  1818.034   -1  1
12     1818  1  13  1818.037   22  1
13     1818  1  14  1818.040   -1  1
14     1818  1  15  1818.042   -1  1
15     1818  1  16  1818.045   -1  1
16     1818  1  17  1818.048   46  1
17     1818  1  18  1818.051   59  1
18     1818  1  19  1818.053   63  1
19     1818  1  20  1818.056   -1  1
20     1818  1  21  1818.059   -1  1
21     1818  1  22  1818.062   -1  1
22     1818  1  23  1818.064   -1  1
23     1818  1  24  1818.067   -1  1
24     1818  1  25  1818.070   15  1
25     1818  1  26  1818.073   -1  1
26     1818  1  27  1818.075   -1  1
27     1818  1  28  1818.078   23  1
28     1818  1  29  1818.081   12  1
29     1818  1  30  1818.083   -1  1
...     ... ..  ..       ...  ... ..
72074  2015  5   2  2015.332   24  0
72075  2015  5   3  2015.335   28  0
72076  2015  5   4  2015.337   68  0
72077  2015  5   5  2015.340   68  0
72078  2015  5   6  2015.343   82  0
72079  2015  5   7  2015.346   95  0
72080  2015  5   8  2015.348  101  0
72081  2015  5   9  2015.351   92  0
72082  2015  5  10  2015.354  107  0
72083  2015  5  11  2015.357  109  0
72084  2015  5  12  2015.359  112  0
72085  2015  5  13  2015.362  113  0
72086  2015  5  14  2015.365  109  0
72087  2015  5  15  2015.368   83  0
72088  2015  5  16  2015.370   69  0
72089  2015  5  17  2015.373   59  0
72090  2015  5  18  2015.376   66  0
72091  2015  5  19  2015.379   51  0
72092  2015  5  20  2015.381   39  0
72093  2015  5  21  2015.384   33  0
72094  2015  5  22  2015.387   48  0
72095  2015  5  23  2015.389   48  0
72096  2015  5  24  2015.392   52  0
72097  2015  5  25  2015.395   45  0
72098  2015  5  26  2015.398   35  0
72099  2015  5  27  2015.400    9  0
72100  2015  5  28  2015.403    8  0
72101  2015  5  29  2015.406   22  0
72102  2015  5  30  2015.409   19  0
72103  2015  5  31  2015.411   17  0

[72104 rows x 6 columns]>

In [24]:
sunspots.iloc[10:20, :]

       0  1   2         3   4  5
10  1818  1  11  1818.031  -1  1
11  1818  1  12  1818.034  -1  1
12  1818  1  13  1818.037  22  1
13  1818  1  14  1818.040  -1  1
14  1818  1  15  1818.042  -1  1
15  1818  1  16  1818.045  -1  1
16  1818  1  17  1818.048  46  1
17  1818  1  18  1818.051  59  1
18  1818  1  19  1818.053  63  1
19  1818  1  20  1818.056  -1  1

In [25]:
col_names= ['year', 'month' , 'day', 'dec_date', 'sunspots', 'definete']
sunspots =pd.read_csv(filepath, header =None , names= col_names )
sunspots.iloc[10:20, :]

    year  month  day  dec_date  sunspots  definete
10  1818      1   11  1818.031        -1         1
11  1818      1   12  1818.034        -1         1
12  1818      1   13  1818.037        22         1
13  1818      1   14  1818.040        -1         1
14  1818      1   15  1818.042        -1         1
15  1818      1   16  1818.045        -1         1
16  1818      1   17  1818.048        46         1
17  1818      1   18  1818.051        59         1
18  1818      1   19  1818.053        63         1
19  1818      1   20  1818.056        -1         1

In [26]:
sunspots =pd.read_csv(filepath, header =None , names= col_names  , na_values ='-1')
sunspots.iloc[10:20, :]

    year  month  day  dec_date  sunspots  definete
10  1818      1   11  1818.031        -1         1
11  1818      1   12  1818.034        -1         1
12  1818      1   13  1818.037        22         1
13  1818      1   14  1818.040        -1         1
14  1818      1   15  1818.042        -1         1
15  1818      1   16  1818.045        -1         1
16  1818      1   17  1818.048        46         1
17  1818      1   18  1818.051        59         1
18  1818      1   19  1818.053        63         1
19  1818      1   20  1818.056        -1         1

In [27]:
sunspots =pd.read_csv(filepath, header =None , names= col_names  , na_values ={'sunspots':['-1']})
sunspots.iloc[10:20, :]

    year  month  day  dec_date  sunspots  definete
10  1818      1   11  1818.031        -1         1
11  1818      1   12  1818.034        -1         1
12  1818      1   13  1818.037        22         1
13  1818      1   14  1818.040        -1         1
14  1818      1   15  1818.042        -1         1
15  1818      1   16  1818.045        -1         1
16  1818      1   17  1818.048        46         1
17  1818      1   18  1818.051        59         1
18  1818      1   19  1818.053        63         1
19  1818      1   20  1818.056        -1         1

In [28]:
sunspots =pd.read_csv(filepath, header =None , names= col_names  , na_values ={'sunspots':['-1']}, 
                     parse_dates=[[0,1,2]])
sunspots.iloc[10:20, :]

   year_month_day  dec_date  sunspots  definete
10     1818-01-11  1818.031        -1         1
11     1818-01-12  1818.034        -1         1
12     1818-01-13  1818.037        22         1
13     1818-01-14  1818.040        -1         1
14     1818-01-15  1818.042        -1         1
15     1818-01-16  1818.045        -1         1
16     1818-01-17  1818.048        46         1
17     1818-01-18  1818.051        59         1
18     1818-01-19  1818.053        63         1
19     1818-01-20  1818.056        -1         1