<a href="https://colab.research.google.com/github/MarcelaMonteiroMontenegroGallo/Python/blob/master/Predicting_Customer_Churn.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:

from google.colab import files
uploaded = files.upload()

Saving Churn.csv to Churn.csv

In [0]:
import pandas as pd

In [0]:
telco = pd.read_csv('Churn.csv')

In [7]:
telco.head()

   Account_Length  Vmail_Message  Day_Mins  ...  State  Area_Code     Phone
0             128             25     265.1  ...     KS        415  382-4657
1             107             26     161.6  ...     OH        415  371-7191
2             137              0     243.4  ...     NJ        415  358-1921
3              84              0     299.4  ...     OH        408  375-9999
4              75              0     166.7  ...     OK        415  330-6626

[5 rows x 21 columns]

In [8]:
telco['Churn'].value_counts()

no     2850
yes     483
Name: Churn, dtype: int64

In [9]:
#@title
# Adapt your code to compute the standard deviation
print(telco.groupby(['Churn']).mean())

       Account_Length  Vmail_Message  ...  Intl_Charge   Area_Code
Churn                                 ...
no         100.793684       8.604561  ...     2.743404  437.074737
yes        102.664596       5.115942  ...     2.889545  437.817805

[2 rows x 16 columns]

In [10]:
# Adapt your code to compute the standard deviation
print(telco.groupby(['Churn']).std())

       Account_Length  Vmail_Message  ...  Intl_Charge  Area_Code
Churn                                 ...
no           39.88235      13.913125  ...     0.751784  42.306156
yes          39.46782      11.860138  ...     0.754152  42.792270

[2 rows x 16 columns]

In [14]:
print(telco.groupby(['Churn', 'CustServ_Calls']).std())

                      Account_Length  Vmail_Message  ...  Intl_Charge  Area_Code
Churn CustServ_Calls                                 ...
no    0                    39.309304      14.154119  ...     0.765048  41.894778
      1                    40.047102      13.955008  ...     0.748270  41.566743
      2                    40.673845      13.946907  ...     0.745023  42.195354
      3                    39.803919      13.079563  ...     0.757905  44.692317
      4                    35.513251      13.984944  ...     0.731180  40.956950
      5                    35.086202      14.605636  ...     0.795672  45.707178
      6                    65.638485      15.449804  ...     0.735021  50.699218
      7                    24.013885      20.838666  ...     0.351888  48.778411
      8                          NaN            NaN  ...          NaN        NaN
yes   0                    41.059086      10.971421  ...     0.745204  43.757738
      1                    39.132037      10.925884  ...     0.818552  40.035695
      2                    45.843440      12.467193  ...     0.692282  44.103585
      3                    35.874046      12.051861  ...     0.757009  45.187950
      4                    34.593357      12.734426  ...     0.759751  45.911637
      5                    36.598129      11.573622  ...     0.708420  41.030625
      6                    32.400058      16.785819  ...     0.680491  41.651682
      7                    23.097619       0.000000  ...     0.494550   3.834058
      8                          NaN            NaN  ...          NaN        NaN
      9                    70.003571      14.142136  ...     0.777817   4.949747

[19 rows x 15 columns]

In [15]:
print(telco.groupby('State')['Churn'].value_counts())

State  Churn
AK     no       49
       yes       3
AL     no       72
       yes       8
AR     no       44
       yes      11
AZ     no       60
       yes       4
CA     no       25
       yes       9
CO     no       57
       yes       9
CT     no       62
       yes      12
DC     no       49
       yes       5
DE     no       52
       yes       9
FL     no       55
       yes       8
GA     no       46
       yes       8
HI     no       50
       yes       3
IA     no       41
       yes       3
ID     no       64
       yes       9
IL     no       53
       yes       5
                ..
OK     no       52
       yes       9
OR     no       67
       yes      11
PA     no       37
       yes       8
RI     no       59
       yes       6
SC     no       46
       yes      14
SD     no       52
       yes       8
TN     no       48
       yes       5
TX     no       54
       yes      18
UT     no       62
       yes      10
VA     no       72
       yes       5
VT     no       65
       yes       8
WA     no       52
       yes      14
WI     no       71
       yes       7
WV     no       96
       yes      10
WY     no       68
       yes       9
Name: Churn, Length: 102, dtype: int64